button{
	position: fixed;
	right: 300px;
	top: 100px;
	border:2px solid rgb(2, 136, 209);
	border-radius:15px;
	font-family:arial;
	font-size:15px;
	font-style: bold;
	color:white;
	background:rgb(2, 136, 209);
	width:150px;
	height:35px;
}
ul{
list-style-type:square;
text-align:left;
margin-bottom:50px;
margin-top:10px;
margin-left:10px;
}

h4{
text-align:left;
margin-left:20px;
margin-bottom:0px;
margin-top:10px;
}


#tekstbox1{
	position: fixed;
    left: 250px;
    top: 175px;
	font-family:arial;
	font-size:60px;
	font-style: bold;
	color:rgb(2, 136, 209);
	width:1000px;
	height:80px;
	border:2px solid rgb(2, 136, 209);
	border-radius:25px;
	text-align:center;
	background:white;
	
	}
	
#tekstbox2{
	position: fixed;
    left: 400px;
    bottom: 150px;
	font-family:arial;
	font-size:22px;
	font-style: bolder;
	color:rgb(2, 136, 209);
	width:700px;
	height:200px;
	border:2px solid rgb(2, 136, 209);
	border-radius:25px;
	text-align:center;
	background:white;
	display: inline-block;
	
	}
	
#mainnav{
	
	}
	
#mainnav ul{
	list-style-type:none;
	font-family:arial;
	font-size:18px;
	font-style: bolder;
	left:10px;
	top:10px;
	width:125px;
	height:minimum 40px;
	background:rgb(2, 136, 209);
	border:2px solid rgb(2, 136, 209);
	border-radius:25px;
	text-align:left;	
	}
	
#mainnav ul li{
	list-style-type:none;
	}
	
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}



	