body { 
  font-family: 'Poppins', serif;
  color:rgb(2, 136, 209);
  background: url("../images/d1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
   }
 
		

.dropdown-menu {
    font-family: 'Poppins', serif;
	font-size: 3vh;
	background-color:rgb(255, 255, 255);
	color:white;
}

.dropdown-menu > li > a {
	line-height: 1.25;
	padding: 0.5vw 1vw;
	}		

	.dropdown-menu > li > a:hover {
	background-color:rgb(2, 136, 209);
 background-image: none;	
}
	
#tekstbox1{
	position: absolute; 
	overflow: visible; 
	height: auto; 
	width: auto;
	white-space: normal; 
	line-height: 4.5vw; 
	font-weight: 700; 
	color: rgb(2, 136, 209); 
	padding: 1vw 2vw 1vw 2vw; 
	border: 0.15vw solid rgb(3, 169, 244); 
	border-radius: 1.39vw; 
	transition: none; 
	margin: 0px; 
	letter-spacing: 0px; 
	background: white;
	opacity: 0.83; 
	/* background-color: rgba(255, 255, 255, 0.83); */
	text-align:center;
	font-size: 3vw;
	}
	
	
#tekstbox2{
		position: absolute; 
	overflow: visible; 
	height: auto; 
	width: auto;
	padding: 1vw 0.5vw 1vw 2vw; 
	border: 0.15vw solid rgb(3, 169, 244); 
	border-radius: 1.39vw; 
	transition: none; 
	margin: 0px; 
	text-align:left;
	letter-spacing: 0px; 
	background: white;
	opacity: 0.83;
	/* background-color: rgba(255, 255, 255, 0.83);*/ 
	/*white-space: normal;*/ 
	font-size: 1.6vw;
	line-height: 2vw; 
	font-weight: 570; 
	color: rgb(2, 136, 209);
	font-size: 1.4vw;	
}

#tekstbox3{

    font-family: 'Poppins', serif;
	font-size: 4vw;
	font-weight: bold;
	text-align:center;
	background:white;
	opacity: 0.83;
	border:.2vw solid rgb(2, 136, 209);
	border-radius: 1.39vw; 
	}
	
#tekstbox4{

    font-family: 'Poppins', serif;
	font-size: 1.6vw;
	font-weight: bold;
	border:.2vw solid rgb(2, 136, 209);
	border-radius: 1.39vw; 
    padding: 1.5vw 1.5vw 1.5vw 4vw;
	background:white;
	opacity: 0.83;
}

#tekstbox7{

    font-family: 'Poppins', serif;
	font-size: 4vw;
	font-weight: bold;
	text-align:center;
	background:white;
	opacity: 0.83;
	border:.2vw solid rgb(2, 136, 209);
	border-radius: 1.39vw; 
	}



#tekstbox8{

    font-family: 'Poppins', serif;
	font-size: 1.6vw;
	font-weight: bold;
	border:.2vw solid rgb(2, 136, 209);
	border-radius: 1.39vw; 
    padding: 1.5vw 1.5vw 1.5vw 4vw;
	background:white;
	opacity: 0.83;
}

#tekstbox9{

    font-family: 'Poppins', serif;
	font-size: 1.6vw;
	font-weight: bold;
	text-align:center;
	background:white;
	opacity: 0.83;
	border:.2vw solid rgb(2, 136, 209);
	border-radius: 1.39vw; 
	padding: 1.5vw 1.5vw 1.5vw 4vw;
	}

#tekstbox10{

    font-family: 'Poppins', serif;
	font-size: 1.6vw;
	font-weight: bold;
	text-align:center;
	background:white;
	opacity: 0.83;
	border:.2vw solid rgb(2, 136, 209);
	border-radius: 1.39vw; 
	padding: 1.5vw 1.5vw 1.5vw 4vw;
	}

#form1{

    font-family: 'Poppins', serif;
	font-size: 1.6vw;
	font-weight: bold;
	border:.2vw solid rgb(2, 136, 209);
	border-radius: 1.39vw; 
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
}
	

.btn-lg{
	padding: 1vw 1.5vw;
  font-size: 1vw;
  line-height: 1.3333333vw;
  border-radius: 1vw;
}
	
.btn-default {
    background: white;
    color: rgb(2, 136, 209);
}

.btn-info{
	color:white;
	background:rgb(2, 136, 209);
}

 .row.content {height: 4vh}

