body { 
  font-family:poppins;
  color:rgb(2, 136, 209);
 }

.full {
    background: url("../images/w2j_page003.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
		

.dropdown-menu {
	font-family:poppins;
	font-size: 3vh;
	background-color:rgb(2, 136, 209);
	color:white;
}

.dropdown-menu > li > a {
	line-height: 1.25;
	padding: 0.5vw 1vw;
	}		



	
#tekstbox1{
	font-size: 4vw;
	text-align:center;
	background:white;
	border:.1vw solid rgb(2, 136, 209);
	border-radius:2vw;
	}
	
	
#tekstbox2{
	font-size: 1.4vw;
	border:.1vw solid rgb(2, 136, 209);
	border-radius:1vw;	
	background:white;
}

.btn-lg{
	padding: 1vw 1.5vw;
  font-size: 1vw;
  line-height: 1.3333333vw;
  border-radius: 1vw;
}
	
.btn-default {
    background: white;
    color: rgb(2, 136, 209);
}

.btn-info{
	color:white;
	background:rgb(2, 136, 209);
}

 .row.content {height: 4vh}

